{% extends 'adminbase.html.twig' %}

{% block body -%}
    <h1>创建新单位</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            取消
        </a>
    </li>
</ul>
{% endblock %}
