{% extends 'base.html.twig' %}

{% block title %}后台管理{% endblock %}

{% block stylesheets %}
<style type="text/css">
#left_panel {
	float: left;
	width: 200px;
}

#main_panel {
	float: left;
	width: 600px;
	overflow: auto;
}
</style>
{% endblock %}

{% block javascripts %}
<script type="text/javascript"
	src="{{ asset('js/jquery-1.5.2.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
	checkSize();
    $(window).resize(checkSize);
});

function checkSize() {
	var h = document.documentElement.clientHeight - $('#main').offset().top - $('#footer').height();
	var w = document.documentElement.clientWidth - $('#left_panel').width() -1;
	document.getElementById('left_panel').style.height = h + "px";
	document.getElementById('main_panel').style.height = h + "px";
	document.getElementById('main_panel').style.width = w + "px";
	}
</script>
{% endblock %}

{% block content %}
<div id="left_panel">
	后台管理
	<ul>
		<li><a href="{{ path("user") }}">用户管理</a></li>
		<br />
		<li><a href="{{ path("category") }}">单位管理</a></li>
		<br />
		<li><a href="{{ path("anchor") }}">参考点管理</a></li>
	</ul>
</div>
<div id="main_panel">{% block body %}{% endblock %}</div>
{% endblock %} 
