<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{% block title %}物联网系统{% endblock %}</title>
<style type="text/css">
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#top {
	width: 100%;
	height: 49px;
	line-height: 48px;
	border-bottom: 1px solid #ccc;
	background: #eee;
}

#top_content {
	font-size: 30px;
	font-family:"黑体",Arial;
	text-align: center;
}

#main {
	width: 100%;
	position: absolute;
	top: 50px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align:center;
	height: 25px;/*脚部的高度*/
	line-height: 25px;
	background: #eee;
	clear:both;
}
</style>
{% block stylesheets %}{% endblock %} {% block javascripts %}

{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
	<div id="top">
		<div id="top_content">物联网系统</div>
	</div>
	<div id="main">{% block content %}{% endblock %}</div>    
    <div id="footer">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    	{% else %}
            <a href="{{ path('app_login') }}">Login</a>
    	{% endif %}
    	&nbsp;版权所有© 2014, emfoxzhou@gmail.com 
        <a href="http://www.miitbeian.gov.cn/">浙ICP备14028084号</a></div>
</body>
</html>
